<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><%= @question.title %></h1>
            <%= render partial: "votes/vote", locals:{var: @question, path: question_vote_path(@question)} %>
            <p><%= @question.content %></p>
            <% if user_signed_in? && current_user == @question.user %>
                  <%= link_to "Editar", edit_question_path(@question) %>
                  <%= link_to "Eliminar", @question, method: :delete, data: { confirm: "¿are you sure you want to delete this?" } %> 
            <% end %>
        </div>
    </div>
    <div class="com-list">
        <%= render @question.comments.order(created_at: :asc) %>
    </div>
    <%= render "comments/form", commentable: @question %>
    <br>
    <h1>Respuestas</h1>
    <br>
    <div class="ans-list">
        <%= render @question.answers.order(created_at: :asc) %>
    </div>
    
    <% if user_signed_in?%>
    <%= render  "answers/form" %>
    <% end %>



</div>
