<div id="ans-id-<%= answer.id %>">
    <h3><%= answer.content %></h3>
    <%= render partial: "votes/vote", locals:{var: answer, path: answer_vote_path(answer)} %>
    <% if user_signed_in? && current_user == answer.user %>
    <%= link_to "Eliminar", [@question, answer], method: 'delete', remote: true, data: { confirm: "¿Are you sure you want to delete this question?" } %> 
    <%= render answer.comments.order(created_at: :asc) %>
    <%= render "comments/form", commentable: answer %>
    <% end %>
</div>