<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">FlowOverstack</a>

      <%= form_tag questions_path, method: :get, class:"form-inline" do %>
        <%= text_field_tag :search, nil, class:"form-control mr-sm-2", placeholder:"Search" %>
        <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0" %>
      <% end %>

    <div>
      <%= link_to "Ingresar", new_user_session_path, class:"btn btn-info" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-info" %>
    </div>


</nav>